
.row
  .col.col-lg-offset-1.col-lg-10.headline
    h1.big-title
      | Contact
    h3
      | Tell us what you need! Complete the form below and we'll get back to you within 48 hours with a no obligation quote. So simple.
    br
   .col.col-lg-8.col-lg-offset-1
    form#contact(action='https://formspree.io/rob@solidstatedesign.co.uk', method='POST')
      input(type='text', name='name', placeholder='Name')
      br
      input(type='email', name='_replyto', placeholder='Email')
      br
      textarea(type='tex', name='_message', placeholder='Please include further details here ...' )
      br
      input.btn.btn-primary(type='submit', value='Send')

    br
