.row
  .col.col-lg-offset-1.col-lg-10.headline

    .col-lg-4
      img(src="img/portfolio/logo_1.png")
    .col-lg-4
      img(src="img/portfolio/logo_2.png")
    .col-lg-4
      img(src="img/portfolio/logo_3.png")
    .col-lg-4
      img(src="img/portfolio/logo_4.png")
    .col-lg-4
      img(src="img/portfolio/logo_5.png")
    .col-lg-4
      img(src="img/portfolio/logo_6.png")
