doctype html
html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title Solid State Design - £48 Logos in 48 Hours
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content='No nonsense. Graphic Design. £48 Logos in 48 hours. Simple.')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css', rel='stylesheet')
    link(href="css/basic.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")

    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')

  body


    .container#main.full-height.vertical-center.headline
      .row
        .col.col-lg-offset-2.col-lg-8
          .text-left
            include main.jade

    .container#why.full-height.vertical-center.parallax.right-bg
      .row
        .col.col-lg-offset-1.col-lg-10
          .text-left
            include why.jade

    .container#how.full-height.vertical-center.headline
      .row
        .col.col-lg-offset-1.col-lg-10
          .text-left
            include how.jade



    .container#contact.full-height.vertical-center.headline
      .row
        .col.col-lg-offset-1.col-lg-10
          .text-left
            include contact.jade

    .container#footer.full-height.vertical-center.headline
      .row
        .col.col-lg-offset-1.col-lg-10
          .text-left
            include footer.jade

    a(href='#main')
      #fixedbtn-up
        .inner-fixedbtn-up
          i.fas.fa-arrow-up.fa-2x

    a(href='#contact')
      #fixedbtn-reg
        .inner-fixedbtn-reg Contact Us










    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(type='text/javascript', src='js/scrolling.js')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
    // JavaScript jQuery code from Bootply.com editor
    script(type='text/javascript').
      $(document).ready(function() {
      });
