.row
  .col.col-lg-offset-1.col-lg-10.headline
    h1.big-title

      font.pink  Logo design.
      font.pink  £48.
      |  Infinite revisions.
      |  48 hr turnaround.
      |  Zero nonsense.

    br

    h1.big-title
      |  Also
      font.pink  awesome
      |  at ...
      |  Flyers.
      |  Posters.
      |  Banners.
      |  Web.
