// Variables
$body-bg: #fff;
$main-font: 'Arial';

$primary-color: #fff;
$secondary-color: #009a9a;
$light-color: #f4f4f4;
$dark-color: #4e4e4e;
$highlight: #000;
$highlight-hover: #6ca5f1;

$container: 960px;
$section-padding: 50px;
